* {
    padding: 0;
    box-sizing: border-box;
}

body {
     margin: 0;
     font-family: system-ui, sans-serif;
     background-color: whitesmoke;
     color: black;
 }

/* NAV */
header {
     background: #022033;
     color: white;
     padding: 5px 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 header h2 {
     margin: 0;
 }

 .nav-links {
     gap: 30px;
     list-style: none;
 }

 .nav-links a {
     color: white;
     text-decoration: none;
     font-weight: 500;
 }

 /* Hide Hamburger on desktop */
 .menu-toggle {
     display: none;
     flex-direction: column;
     cursor: pointer;
     margin-left: auto;
 }

 .menu-toggle span {
     height: 3px;
     width: 25px;
     background: white;
     margin: 4px 0;
     display: block;
 }

 nav ul {
     display: flex;
     gap: 80px;
 }

 nav a {
     color: white;
     text-decoration: none;
     margin: 15px;
     font-weight: bold;
 }

 nav a:hover {
     color: #e6af2e;
 }

/* Logo size */
 .logo {
     height: 100px;
     width: 100px;
     vertical-align: middle;
     object-fit: cover;
     object-position: top;
 }

 /* Logo responsiveness */
 .logo:hover {
     opacity: 0.8;
     cursor: pointer;
 }

 ul {
     list-style: none;
     padding: 0;
 }

 ul li {
     padding: 8px 10px;
     text-align: left;
 }

/* HERO */
.about-hero {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background: url(images/kampala1.1.png);
    background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
    background-size: 100%;
    animation: gradientMove 10s ease infinite;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 0 60px;
    width: 100%;
    max-width: 1100px;
}

/* TEXT */
.hero-text h1 {
    font-size: 3rem;
}

.hero-text p {
    opacity: 0.7;
    margin-top: 10px;
    color: white;
}



/* STORY */
.container{
    background-color: #ffffff;
}
.about-story {
    padding: 60px 20px;
    max-width: 1500px;
    margin: auto;
    text-align: center;
}

.about-story p {
    opacity: 0.8;
    margin-top: 15px;
}

/* How it works */
.how-it-works {
    padding: 60px 20px;
    text-align: center;
}

.steps {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.step {
    max-width: 200px;
}

.step span {
    font-size: 24px;
    color: #e6af2e;
    display: block;
    margin-bottom: 10px;
}


/* DRIVER */
.driver-highlight{
    text-align: center;
}

.driver-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 40px 20px;
}

.driver-card {
    text-align: center;
    padding: 20px;
    transition: 0.3s;
}

.driver-card:hover {
    transform: translateY(-8px);
}

.driver-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.driver-card span {
    font-size: 12px;
    color: #e6af2e;
}

/* CTA */
.about-cta {
    text-align: center;
    padding: 60px 20px;
}

.about-cta a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #e6af2e;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
}

.about-cta a:hover{
    background-color: #a4b7be;
}
/* FADE IN */
.fade-in {
   
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}


/* FOUNDER */
.founder-section {
  padding: 80px 20px;
  background: #a4b7be;
  color: white;
}

.founder-container {
  display: flex;
  gap: 40px;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

.founder-image img {
  width: 300px;
  border-radius: 15px;
}


 /* footer tag */
 footer {
     background-color: #022033;
     padding: 20px;
     display: flex;
     justify-content: space-around;
 }


 .footer-info {
     margin-top: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 20px;
     flex-wrap: wrap;
     font-size: 20px;
 }



 .footer-info a {
     transition: 0.3s ease;
     text-decoration: none;
     color: #908f8f;
     font-size: 15px;
 }

 .footer-info a:hover {
     color: #e6af2e;
 }

 .note {
     background-color: #022033;
     color: #ffffff;
 }

 a {
     color: #e0e0e0;
 }


/* MOBILE */
@media(max-width: 768px){
     header {
         justify-content: space-between;
     }

    
    .stats {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .driver-highlight {
        flex-direction: column;
    }
    .driver-grid {
        grid-template-columns: 1fr;
    }
    .hero-container {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-illustration img {
        width: 250px;
    }

    .footer-info {
         flex-direction: column;
         align-items: center;
         gap: 15px;
         font-size: 18px;
         margin: 5px 0;
     }

     footer {
         text-align: center;
     }

     /* Show Hamburger */
     .menu-toggle {
         display: flex;
     }


     /* Hide menu by default */
     .nav-links {
         position: absolute;
         top: 70px;
         right: 0;
         width: 100%;
         background: #0c1b1f;

         flex-direction: column;
         align-items: center;

         max-height: 0;
         overflow: hidden;

         transition: 0.3s;
     }

     /* Show when active */
     .nav-links.active {
         max-height: 300px;
         padding: 20px 0;
         display: flex;
     }

     .nav-links li {
         margin: 10px 0;
     }

      .founder-container {
    flex-direction: column;
    text-align: center;
  }
}