 body {
     margin: 0;
     font-family: system-ui, sans-serif;
     background-color: whitesmoke;
     color: black;
 }

 header {
     background: #022033;
     color: white;
     padding: 5px 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 header h2 {
     margin: 0;
 }

 .nav-links {
     gap: 30px;
     list-style: none;
 }

 .nav-links a {
     color: white;
     text-decoration: none;
     font-weight: 500;
 }

 /* Hide Hamburger on desktop */
 .menu-toggle {
     display: none;
     flex-direction: column;
     cursor: pointer;
     margin-left: auto;
 }

 .menu-toggle span {
     height: 3px;
     width: 25px;
     background: white;
     margin: 4px 0;
     display: block;
 }

 nav ul {
     display: flex;
     gap: 80px;
 }

 nav a {
     color: white;
     text-decoration: none;
     margin: 15px;
     font-weight: bold;
 }

 nav a:hover {
     color: #e6af2e;
 }

 /* Main tag that wraps the main body */
 main {
     flex: 1;
 }


 .hero {
     padding: 80px 20px;
     text-align: center;
     background: white;
 }

 .hero h1 {
     font-size: 40px;
     margin-bottom: 15px;
 }

 .hero p {
     max-width: 600px;
     margin: auto;
     font-size: 18px;
     color: #555;
 }

 section {
     padding: 10px;
     max-width: 1236px;
     margin: auto;
 }



 h3 {
     text-align: center;
     margin-bottom: 30px;
 }

 ul {
     list-style: none;
     padding: 0;
 }

 ul li {
     padding: 8px 0;
 }

 .services-box {
     background: white;
     padding: 30px;
     border-radius: 10px;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
 }

 
 button {
     background-color: #e6af2e;
     color: white;
     padding: 12px;
     border: none;
     border-radius: 6px;
     width: 100%;
     font-size: 16px;
     cursor: pointer;
 }




 /* Services */
 .services-hero {
     height: 80vh;
     width: 100%;
     overflow: hidden;

     background: url(images/Customer.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;

     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     z-index: 2;
 }

 .service-container {
     display: flex;
     overflow-x: auto;
     column-count: 4;
     column-gap: 20px;
     padding: 15px;
     background-color: #e1e1e1;
     border-radius: 15px;
     scroll-snap-type: x mandatory;
     -webkit-overflow-scrolling: touch;
     /* smooth mobile scroll */
 }

 .service-card {
     background: #fff;
     border-radius: 20px;
     box-shadow: 0 4px 10px rgba(26, 146, 48, 0.1);
     overflow: hidden;
     transition: 0.3s;
     display: block;
     min-width: 280px; /* controls card size */
     flex: 0 0 300px; /* 🔥 very important */
     scroll-snap-align: start;
     margin-bottom: 20px;
     text-decoration: none;
     color: inherit;
 }

 .service-container::-webkit-scrollbar {
    display: none;
}

 .service-content {
     padding: 15px;
 }

 .service-content p {
     font-size: 14px;
 }

 .service-content h3 {
     font-size: 18px;
     margin: 15px;
 }

 .service-card img {
     width: 100%;
     height: 200px;
     object-fit: cover;
     border-radius: 10px;
     margin-bottom: 10px;
 }


 .service-card p {
     color: #555;
     padding: 0 15px 20px;
 }

 .service-card:hover {
     transform: translateY(-5px);
     border-bottom: 4px solid #cbe9df;
 }




 /* dark overlay for readability */
 .hero-overlay {
     background: rgba(18, 11, 11, 0.3);
     color: white;
     text-align: center;
     padding: 45px;
     border-radius: 10px;
 }

 /* Heading */
 .hero-overlay h1 {
     font-size: 2.8rem;
     margin-bottom: 15px;
 }

 /* Subtext */
 .hero-overlay p {
     font-size: 1.2rem;
     margin-bottom: 20px;
     color: #e0e0e0;
 }

 /* Button */
 .hero-btn {
     display: inline-block;
     padding: 12px 25px;
     background: #e6af2e;
     color: white;
     text-decoration: none;
     border-radius: 25px;
     font-weight: bold;
     transition: 0.3s;
 }

 .hero-btn:hover {
     background: #cbe9df;
 }




 /* Logo size */
 .logo {
     height: 100px;
     width: 100px;
     vertical-align: middle;
     object-fit: cover;
     object-position: top;
 }

 /* Logo responsiveness */
 .logo:hover {
     opacity: 0.8;
     cursor: pointer;
 }


 .why-section,
 .promise-section {
     padding: 50px 20px;
     max-width: 100%;
     margin: auto;
     display: flex;
     gap: 50px;
     align-items: center;
 }

 .why-image img,
 .promise-image img {
     transition: transform 0.4s ease;
 }

 .why-image img:hover,
 .promise-image img:hover {
     transform: scale(1.05);
 }

 /* HEADINGS */
 h2 {
     font-size: 2.2rem;
     margin-bottom: 20px;
 }

 /* INTRO TEXT */
 .why-intro,
 .promise-intro {
     font-size: 16px;
     line-height: 1.7;
     color: #555;
     margin-bottom: 30px;
 }

 /* POINTS */
 .why-points p,
 .promise-points p {
     font-size: 16px;
     margin-bottom: 15px;
     padding-left: 10px;
     border-left: 3px solid #e6af2e;
     transition: 0.3s;
 }

 /* HOVER EFFECT */
 .why-points p:hover,
 .promise-points p:hover {
     transform: translateX(5px);
     color: #e6af2e;
 }


 .testimonials {
     padding: 80px 20px;
     background: #f5f5f7;
     text-align: center;
 }

 .testimonials h2 {
     font-size: 2rem;
     margin-bottom: 40px;
 }

 /* GRID */
 .testimonial-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 20px;
 }

 /* CARD */
 .testimonial-card {
     background: white;
     padding: 30px 20px;
     border-radius: 15px;
     width: 280px;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
     transition: 0.3s;
 }

 .testimonial-card:hover {
     transform: translateY(-5px);
 }

 /* IMAGE */
 .testimonial-card img {
     width: 80px;
     height: 80px;
     border-radius: 50%;
     object-fit: cover;
     border: 3px solid #e6af2e;
     margin-bottom: 15px;
 }

 /* TEXT */
 .testimonial-card h3 {
     margin-bottom: 5px;
 }

 .role {
     font-size: 14px;
     color: #777;
     margin-bottom: 10px;
 }

 .message {
     font-size: 14px;
     color: #444;
     margin-bottom: 15px;
 }

 /* TAG */
 .tag {
     display: inline-block;
     padding: 5px 12px;
     background: #cbe9df;
     color: #000000;
     border-radius: 10px;
     font-size: 12px;
 }



 /* footer tag */
 footer {
     background-color: #022033;
     padding: 20px;
     display: flex;
     justify-content: space-around;
 }


 .footer-info {
     margin-top: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 20px;
     flex-wrap: wrap;
     font-size: 20px;
 }



 .footer-info a {
     transition: 0.3s ease;
     text-decoration: none;
     color: #908f8f;
     font-size: 15px;
 }

 .footer-info a:hover {
     color: #e6af2e;
 }

 .note {
     background-color: #022033;
     color: #ffffff;
 }

 a {
     color: #e0e0e0;
 }

 @media (max-width: 768px) {
     header {
         justify-content: space-between;
     }

     .why-section,
     .promise-section {
         flex-direction: column;
         text-align: center;
         padding: 50px 20px;
     }

     .why-image,
     .promise-image {
         width: 250px;
     }

     .testimonial-card img {
         width: 65px;
         height: 65px;
     }

     .footer-info {
         flex-direction: column;
         align-items: center;
         gap: 15px;
         font-size: 18px;
         margin: 5px 0;
     }

     footer {
         text-align: center;
     }

     /* Show Hamburger */
     .menu-toggle {
         display: flex;
     }


     /* Hide menu by default */
     .nav-links {
         position: absolute;
         top: 70px;
         right: 0;
         width: 100%;
         background: #0c1b1f;

         flex-direction: column;
         align-items: center;

         max-height: 0;
         overflow: hidden;

         transition: 0.3s;
     }

     /* Show when active */
     .nav-links.active {
         max-height: 300px;
         padding: 20px 0;
         display: flex;
     }

     .nav-links li {
         margin: 10px 0;
     }
 }